@()


@main("Recipes REST API!") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <h2>Welcome to Recipes REST API!</h2>
      <p>This project is an example of play framework use, which manage recipes with their ingredients and suggestions.
        Additional information of each recipe like price, calories, difficulty level, and number of guests are included too.
      </p>
      <p>Please follow the directions in the <code>README.md</code> file in the top-level project directory to run
        the project.</p>

      <h3 id="introduction">Features</h3>
      <p>This project is an example of play framework use, wich contains the following features:</p>
      <ul>
        <li>REST resources design (routes)</li>
        <li>Operation resources design (verbs)</li>
        <li>Models: attributes, finder, etc</li>
        <li>1 to 1 model relation</li>
        <li>1 to N model relation</li>
        <li>N to M model relation (adapation, see <i>References</i> in <code>README.md</code>)</li>
        <li>Model validations</li>
        <li>Custom validations</li>
        <li>Controllers</li>
        <li>JSON and XML views</li>
        <li>i18n (internationalization): English and Spanish</li>
        <li>Cache (only for fun, 5 seconds in GET methods. POST and PUT remove cache.)</li>
        <li>Action composition</li>
      </ul>

      <h3 id="db_config">DB config</h3>
      <p>Default DB for use is postgreSQL, but you can re define environmental variables to set your favorite database:</p>
      <ul>
        <li>DB_DRIVER</li>
        <li>DB_URL</li>
        <li>DB_USERNAME</li>
        <li>DB_PASSWORD</li>
      </ul>
      <p>This project supports the following DBMS:</p>
      <ul>
        <li>h2 database</li>
        <li>PostgreSQL</li>
        <li>MySQL</li>
      </ul>
      <!--img src="assets/images/play-stack.png" alt="Play Stack" class="small-5 medium-4 large-3" /-->

      <h3 id="next-steps">Next steps</h3>
      <p>Now, let's <a href="@routes.HomeController.methods">explore the methods that this API offers to you.</a>.</p>
    </article>
    <aside>
      @commonSidebar()
    </aside>
  </div>
</section>
}
}